<div class="container mt-5">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search Books</mat-label>
        <input matInput 
        #searchkeywords
        (keyup)="searchByKeyword(searchkeywords.value)"
         name="searchKey" 
         id="searchKey" 
         placeholder="Search Any Products">
         <mat-hint>Search</mat-hint>
    </mat-form-field>

    <mat-grid-list cols="4" rowHeight="4:7" gutterSize="10">
        <mat-grid-tile *ngFor="let p of productDetails">
            <div class="row p-5">
                <div class="image-container">
                    <img class="home-page-product-image" [src]="p.productImages[0].url" alt="">
                </div>
                <div class="mt-3">
                    <p><b>{{p.productName}}</b></p>
                </div>
                <div class="mt-2">
                    <p
                        style="white-space: inherit; height: 50px; width: 288px; overflow:hidden; text-overflow:ellipsis">
                        {{p.productDescription}}</p>
                </div>
                <div class="mt-2 price-container">
                    <div class="price">
                        <b>{{p.productDiscountedPrice | currency :'INR'}} </b> &nbsp;
                        <b class="actual-price">{{p.productActualPrice  | currency : 'INR'}}</b>
                    </div>
                </div>

                <div class="mt-2 view-details-container">
                    <button mat-flat-button color="warn" (click)="showProductDetails(p.productId)">View Details</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="text-center mt-3" style="padding-bottom: 50px;" *ngIf="showLoadButton">
        <button type="button" mat-raised-button color="warn" (click)="loadMoreProduct()">Load More Products</button>
    </div>
</div>