<div class="container mt-5">
    <div class="card w-50 mx-auto" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter your password</mat-label>
                <input ngModel name="userPassword" id="userPassword" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>


            <button class="w-100" type="submit" mat-raised-button color="primary">Login</button>
        </form>
    </div>
    <div class="text-center">
        <br>
        <button class="w-20" mat-raised-button type="button" color="warn"
        (click)="registerUser()"
        >Create an Account</button>
    </div>
</div>

           